
<div class='image'>
<%= image_tag "cover.jpg" %>
</div>

<div class='wrapper col-xs-12 col-sm-6 col-md-3 text-center bigEntrance'>
  <h1>Our cocktail menu</h1>
  <ul>
  <% @cocktails.each do |c| %>
    <li><%= link_to c.name, cocktail_path(c) %></li>
  <% end %>
  </ul>
  <h2>Add a new cocktail</h2>
  <%= link_to "Here", new_cocktail_path, class: "btn btn-primary" %>
</div>


<!-- Our Best cocktails code -->
<!-->Cocktail list doesn't show up in heroku</!-->
<!-->Poritioning not </!-->
<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Your next trip</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <%= image_tag("lizard.jpg", :size => "360x250")%>
          <div class="card-category">Best Sellers</div>
          <div class="card-description">
            <h2>Lizard Juice</h2>
            <p>For the brave</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <%= image_tag("pompido.jpg", :size => "360x250")%>
          <div class="card-category">Best Sellers</div>
          <div class="card-description">
            <h2>High Tech Juice</h2>
            <p>For the sophisticated</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <%= image_tag("dodek.jpg", :size => "360x250")%>
          <div class="card-category">Best Sellers</div>
          <div class="card-description">
            <h2>Oldies Juice</h2>
            <p>For the experienced</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




