<!-- Show cocktail name > done-->
<!-- Add dose link > done -->
<!-- Add description > done  -->
<!-- show dose + description > done  -->
<!-- Delete dose -->



<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<ul>
  <li><%= @cocktail.name %></li>
  <li><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)
   %></li>


   <li>
   <% @cocktail.doses.each do |d| %></li>
    <li><%= d.ingredient.name%></li>
    <li><%= d.description%></li><br>
    <%= link_to "Remove dose", dose_path(dose_id: d), method: :delete  %>

   <% end %>



 </ul>


